#Ahad{
    color: tomato;
}
body{
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 70px;
}
.top{
    display: flex;
    margin-bottom: 90px;
}
.place{
    width: 50%;
    padding-left: 5%;
}
.place img{
    width: 80%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 500;
}
.second-part{
    display: flex;
}
.titu{
    margin-right: 100px;
    padding-left: 200px;
    margin-right: 100px;
}
.tuti{
    width: 150%;
    padding-right: 30px;
}
.Ex{
    display: flex;
    padding: 15px;

}
h3{
    color: blueviolet;
}
.bux{
    box-shadow: 10px 10px 20px black;
    border-radius: 2px;
    padding: 25px;
    margin-right: 5%;
    margin-left: 5%;
    border-left: 10px solid orange;
}
#exp{
    margin-left: 50px;
}
footer p{
    text-align: center;
}
.tex{
    text-align: justify;
}